@model List<Product>

    <h6 class="display-4">List of Product From RestFullApi</h6>
    <hr />
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <p>@product.Name</p>
                <p>
                    <img src="~/img/@product.ImageUrl" alt="Alternate Text" width="100" />
                </p>
                <p>
                    @product.Price
                </p>
            </div>
        }
    </div>